.textoAccordion{
    text-align: left;
}

.accordion{
    align-items: center;
    color: white;
    font-size: 24px;
    padding: 24px;
}

.accordion-body{
    background-color: #414141;
    color: white;
}
.accordion-header{
    background-color: #414141;
}
.accordion-button{
    background-color: #414141;
}
