.footer{
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    border-color: #232323;
    align-content: center;
    align-items: center;
    border-style:solid;
    width: auto;
    color: white;
}

