
.botonMail button{
    background-color:#e50914 ;
    border-radius: 4px;
    color: #fff;
    fill: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    width: 192px;
    height: 56px;
}


.botonMail button:hover{
    background-color: #e50914;
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0)
}

.mail input{
    height: 56px;
    width: 386px;
    color: #fff;
    background-color: black;
    opacity: 0.5;
}

.mail input::placeholder{
    color: #fff;
} 

.mailInput input:focus{
    background-color: black;
    color: #fff;
    outline: none;
}

.mailInput{
    display: flex;
    justify-content: center;
}

.botonMail{
    display: flex;
    justify-content: center;
}

