.mainContenedor {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://assets.nflxext.com/ffe/siteui/vlv3/41c789f0-7df5-4219-94c6-c66fe500590a/2856dcf9-ec3c-4fc7-8e0d-a2e398e9509a/AR-es-20240513-popsignuptwoweeks-perspective_alpha_website_small.jpg);
}

.contenedor {
    color: white;
    padding: 20vh;
}

.titulos {
    justify-content: center;
    gap: 30px;
    text-align: center;
    display: flex;
    flex-direction: COLUMN;
    margin: 0;
    padding-bottom: 0px;
}

.titulos h1 {
    font-size: 48px;
    font-weight: 900;
}

.titulos h3 {
    font-size: 24px;
    margin: -15px
}

.titulos p {
    font-size: 20px;
    line-height: 30px;
    margin: 25px;
}

.secondContenedor {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    border-color: #232323;
    padding: 195px;
    align-content: center;
    align-items: center;
    border-style:solid;
}

.info {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.secondContenedor img {
    height: 300px;
    width: 400px;
}
.secondContenedor h2{
    font-weight: 900;
    text-align: left;
    font-size: 48px;
}

.secondContenedor p{
    text-align: left;
    font-size: 24px;
}

.thirdContenedor{
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    border-color: #232323;
    padding: 175px;
    align-content: center;
    align-items: center;
    border-style:solid;
}

.thirdContenedor h2{
    font-weight: 900;
    text-align: left;
    font-size: 48px;
}

.thirdContenedor p{
    text-align: left;
    font-size: 24px;
}

.thirdContenedor img{
    width: 600px;
    height: 500px;
}

.fourthContenedor{
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    border-color: #232323;
    padding: 175px;
    align-content: center;
    align-items: center;
    border-style:solid;
}

.fourthContenedor h2{
    font-weight: 900;
    text-align: left;
    font-size: 48px;
}

.fourthContenedor p{
    text-align: left;
    font-size: 24px;
}

.fourthContenedor img{
    width: 700px;
    height: 500px;
}


.fifthContenedor{
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    border-color: #232323;
    padding: 175px;
    align-content: center;
    align-items: center;
    border-style:solid;
}

.fifthContenedor h2{
    font-weight: 900;
    text-align: left;
    font-size: 48px;
}

.fifthContenedor p{
    text-align: left;
    font-size: 24px;
}

.fifthContenedor img{
    width: 700px;
    height: 500px;
}

.sixthContenedor{
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    border-color: #232323;
    padding: 175px;
    align-content: center;
    align-items: center;
    border-style:solid;
}

.sixthContenedor h2{
    font-weight: 900;
    text-align: left;
    font-size: 48px;
    color: white;
    padding: 20px;

}
